<div class="container">
  <h1>
    Your cocktail: "<%= @cocktail.name %>"
  </h1>
  <p>has the following ingredients:</p>
  <ul>
    <% @cocktail.doses.each do |dose|%>
      <li>
      <%= dose.ingredient.name %>
      <%= dose.description %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container" id="your_cocktail_btn">
  <div class="col-xs-6">
      <%= link_to 'Add a dose to this recipe', new_cocktail_dose_path(@cocktail), class: 'btn btn-success' %>
  </div>
  <div class="col-xs-6">
      <%= link_to 'Back to homepage', cocktails_path, class: 'btn btn-info' %>
  </div>
</div>
